@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: darkcyan;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.carousel{
  width: 100%;
}

.carousel-container{
  display: flex;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}